<div class="widget">
	<h4 class="widget__title">Local Groups</h4>
	<div class="widget__content">
		<ul class="widget__list">
    <li class="widget__item"><a class="widget__link" href="http://www.ramblers.org.uk/go-walking/group-finder/areas/hampshire/groups/alton.aspx">Alton</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.andoverramblers.org.uk/">Andover</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.eastleighramblers.org.uk/">Eastleigh</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.hantswalk.org.uk/">Hampshire 20s & 30s</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.hampshirewalkers.org.uk/">Hampshire 40+</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.ramblers.org.uk/go-walking/group-finder/areas/hampshire/groups/meon.aspx">Meon</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.newforestramblers.org.uk/">New Forest</a></li>
    <li class="widget__item"><a class="widget__link" href="https://www.nehantsramblers.org.uk/">North-East Hampshire</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.northhampshiredownsramblers.org.uk/">North Hampshire Downs</a></li>
    <li class="widget__item"><a class="widget__link" href="https://www.portsmouthramblers.org.uk/">Portsmouth</a></li>
    <li class="widget__item"><a class="widget__link" href="https://www.ramblers.org.uk/go-walking/ramblers-groups/romsey-group">Romsey</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.ramblers.org.uk/southampton">Southampton</a></li>
    <li class="widget__item"><a class="widget__link" href="http://www.sehampshireramblers.org.uk/">South-East Hampshire</a></li>
    <li class="widget__item"><a class="widget__link" href="https://www.ramblers.org.uk/go-walking/ramblers-groups/waltham-group">Waltham</a></li>
    <li class="widget__item"><a class="widget__link" href="https://www.ramblers.org.uk/go-walking/ramblers-groups/winchester-group">Winchester</a></li>
</ul>
	</div>
</div>