<footer class="footer">
	<div class="container footer__container flex">
		
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits"> Ramblers Charity England & Wales No: 1093577 Scotland No: SC039799</span>
		</div>

		<div class="footer__links">
			<a class="footer__link" href="{{ "/contact/" | absURL }}">Contact Us</a>
			<!-- <a class="footer__link" href="{{ "/contact/" | relURL }}">Contact Us</a> --> |  
			<a class="footer__link" href="https://www.ramblers.org.uk" target="_blank">Ramblers UK</a>
		</div>
	</div>
</footer>